@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Medium.eot');
    src: url('../../fonts//EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Medium.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Medium.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Regular.eot');
    src: url('../../fonts//EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Regular.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Regular.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-SemiBold.eot');
    src: url('../../fonts//EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-SemiBold.woff') format('woff'),
        url('../../fonts//EuclidCircularA-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Medium_1.eot');
    src: url('../../fonts//EuclidCircularA-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Medium_1.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Medium_1.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Regular_1.eot');
    src: url('../../fonts//EuclidCircularA-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Regular_1.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Regular_1.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Regular_2.eot');
    src: url('../../fonts//EuclidCircularA-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Regular_2.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Regular_2.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Medium_2.eot');
    src: url('../../fonts//EuclidCircularA-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Medium_2.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Medium_2.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-SemiBold_1.eot');
    src: url('../../fonts//EuclidCircularA-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-SemiBold_1.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-SemiBold_1.woff') format('woff'),
        url('../../fonts//EuclidCircularA-SemiBold_1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-SemiBold_2.eot');
    src: url('../../fonts//EuclidCircularA-SemiBold_2.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-SemiBold_2.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-SemiBold_2.woff') format('woff'),
        url('../../fonts//EuclidCircularA-SemiBold_2.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Light.eot');
    src: url('../../fonts//EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Light.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Light.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Light_1.eot');
    src: url('../../fonts//EuclidCircularA-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Light_1.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Light_1.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../../fonts//EuclidCircularA-Light_2.eot');
    src: url('../../fonts//EuclidCircularA-Light_2.eot?#iefix') format('embedded-opentype'),
        url('../../fonts//EuclidCircularA-Light_2.woff2') format('woff2'),
        url('../../fonts//EuclidCircularA-Light_2.woff') format('woff'),
        url('../../fonts//EuclidCircularA-Light_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

