<div class="modal-overlay" id="modal-overlay">
	<div class="modal">
		<div class="modal-inner">
			<button class="close-modal">
				@@include('../../svg/close.html')
			</button>
			<div class="modal-title">
				Получить консультацию и специальное предложение
			</div>
			<form>
				<fieldset>
					<div class="input-wrapper">
						<input type="text" name="name" placeholder="Ваше имя" required>
						<div class="error">Вы ввели неверное имя</div>
					</div>
					<div class="input-wrapper">
						<input type="tel" id="phone-mask" name="phone" placeholder="+7 (___)___-__-__" pattern="^\+7\s\d{3}\s\d{3}\s\d{2}\s\d{2}$" required>
						<div class="error">Вы ввели неверный номер телефона</div>
					</div>
				</fieldset>
				@@include('../buttons/button-gradient/button-gradient.html', {'class': 'submit', 'text': 'Свяжитесь со мной'})
				<div class="form-response">Ваше сообщение отправлено!</div>
			</form>
			<p>
				Отправляя форму я даю своё согласие на <a href="#">сбор и обработку персональных данных</a> 
			</p>
		</div>
	</div>
</div>