@use '../../../scss/common/vars.scss' as *;

.cta {
	padding: 60px 0;

	@media(min-width: $lg) {
		padding: 120px 0;
	}

	&-wrapper {
		display: flex;
		align-items: center;
		padding: 35px 25px;
		border-radius: $br32;
		background: rgba(45, 53, 62, 0.30);
		backdrop-filter: blur(8px);
		overflow: hidden;

		@media(min-width: $md) {
			padding: 45px 40px;
		}
	}

	&-info {
		width: 100%;
		max-width: 854px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;
	}

	&-title {
		font-family: $ff;
		font-size: 22px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: 30px;
		color: $light;

		@media(min-width: $lg) {
			font-size: 36px;
			line-height: 48px;
		}
	}

	p {
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		line-height: 32px;
		color: $accent;

		@media(min-width: $lg) {
			font-size: 36px;
			line-height: 48px;
		}

		strong {
			font-weight: $fw-light;
		}
	}

	&-buttons {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;

		@media(min-width: $md) {
			align-items: stretch;
			flex-direction: row;
		}
	}

	&-img {
		position: absolute;
		top: 0;
		left: 35%;
		z-index: -1;
		width: 530px;
		height: 530px;

		@media(min-width: $md) {
			top: -20%;
			left: 60%;
		}

		@media(min-width: $lg) {
			top: -10%;
			left: 63%;
		}

		img {
			width: 530px;
			height: 530px;
		}
	}
}